.u-section-1 .u-sheet-1 {
  min-height: 984px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 25px auto 0;
}

.u-section-1 .u-group-1 {
  width: 550px;
  height: auto;
  min-height: 280px;
  margin: 23px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  text-decoration: none solid rgb(0, 80, 53);
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: 8px 30px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 15px 30px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 15px 30px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: -280px 570px 0 0;
}

.u-section-1 .u-image-1 {
  width: 853px;
  height: 513px;
  margin: 35px auto 34px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    text-decoration: underline !important;
    font-weight: 700;
  }

  .u-section-1 .u-text-6 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-right: 150px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 433px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.1111111111111112rem;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 325px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.34375rem;
  }

  .u-section-1 .u-group-1 {
    min-height: 214px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    text-decoration: none solid rgb(0, 80, 53);
    font-weight: 400;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-1 .u-image-1 {
    height: 205px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}